## This is for Analysing Options or Futures data or both

In [33]:
import pandas as pd
import numpy as np
import backtesting as bt
import breeze_client as bc

In [34]:
stock = bc.read_csv('data\\NESIND\\NESIND_1minute_30d.csv')
stock_future = bc.read_csv('data\\NESIND\\NESIND_futures_30-5-2024_1minute_30d.csv')
stock_option = bc.read_csv('data\\NESIND\\NESIND_options_2600_30-5-2024_1minute_30d.csv')

In [35]:
stock

,Close,exchange_code,High,Low,Open,stock_code,Volume
datetime,,,,,,,
2024-05-02 09:07:00,2507.40,NSE,2510.00,2507.40,2510.00,NESIND,37
2024-05-02 09:15:00,2512.55,NSE,2519.00,2507.50,2507.50,NESIND,13646
2024-05-02 09:16:00,2514.70,NSE,2515.45,2507.05,2512.50,NESIND,7678
2024-05-02 09:17:00,2514.50,NSE,2519.00,2513.25,2514.70,NESIND,4407
2024-05-02 09:18:00,2517.95,NSE,2518.80,2514.70,2515.60,NESIND,4112
...,...,...,...,...,...,...,...
2024-04-03 15:25:00,2556.50,NSE,2558.15,2555.00,2555.35,NESIND,10610
2024-04-03 15:26:00,2556.00,NSE,2557.85,2555.00,2557.75,NESIND,9914
2024-04-03 15:27:00,2555.70,NSE,2557.85,2554.50,2556.00,NESIND,13483
2024-04-03 15:28:00,2555.50,NSE,2556.00,2555.25,2555.65,NESIND,5410
2024-04-03 15:29:00,2554.40,NSE,2555.95,2554.40,2555.25,NESIND,13575

In [36]:
stock_future

,Close,exchange_code,expiry_date,High,Low,Open,open_interest,product_type,stock_code,Volume
datetime,,,,,,,,,,
2024-05-02 09:15:00,2526.15,NFO,30-MAY-2024,2550.85,2519.20,2528.20,5610000,Futures,NESIND,5800
2024-05-02 09:16:00,2527.00,NFO,30-MAY-2024,2530.15,2525.00,2526.15,5610000,Futures,NESIND,2600
2024-05-02 09:17:00,2532.20,NFO,30-MAY-2024,2536.20,2527.00,2527.00,5610000,Futures,NESIND,2000
2024-05-02 09:18:00,2533.00,NFO,30-MAY-2024,2533.00,2531.55,2532.20,5609800,Futures,NESIND,2200
2024-05-02 09:19:00,2536.45,NFO,30-MAY-2024,2537.10,2533.00,2533.00,5609800,Futures,NESIND,2800
...,...,...,...,...,...,...,...,...,...,...
2024-04-03 15:25:00,2577.10,NFO,30-MAY-2024,2577.10,2575.55,2577.10,88400,Futures,NESIND,800
2024-04-03 15:26:00,2577.50,NFO,30-MAY-2024,2577.50,2577.10,2577.10,88400,Futures,NESIND,400
2024-04-03 15:27:00,2577.50,NFO,30-MAY-2024,2577.50,2577.50,2577.50,88400,Futures,NESIND,400
2024-04-03 15:28:00,2577.50,NFO,30-MAY-2024,2577.50,2577.50,2577.50,88400,Futures,NESIND,0
2024-04-03 15:29:00,2576.00,NFO,30-MAY-2024,2576.00,2576.00,2576.00,88800,Futures,NESIND,1600

In [37]:
stock_option

,Close,exchange_code,expiry_date,High,Low,Open,open_interest,product_type,right,stock_code,strike_price,Volume
datetime,,,,,,,,,,,,
2024-05-02 09:15:00,29.00,NFO,30-MAY-2024,30.00,28.00,30.00,487400,Options,Call,NESIND,2600.0,2200
2024-05-02 09:16:00,30.45,NFO,30-MAY-2024,30.45,30.45,30.45,487400,Options,Call,NESIND,2600.0,200
2024-05-02 09:17:00,33.10,NFO,30-MAY-2024,33.10,30.95,31.60,487400,Options,Call,NESIND,2600.0,1800
2024-05-02 09:18:00,33.00,NFO,30-MAY-2024,33.00,32.00,32.00,487400,Options,Call,NESIND,2600.0,5000
2024-05-02 09:19:00,33.25,NFO,30-MAY-2024,34.00,32.80,33.25,488600,Options,Call,NESIND,2600.0,1400
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-10 14:49:00,55.55,NFO,30-MAY-2024,55.55,55.55,55.55,0,Options,Call,NESIND,2600.0,0
2024-04-10 14:50:00,55.55,NFO,30-MAY-2024,55.55,55.55,55.55,0,Options,Call,NESIND,2600.0,0
2024-04-10 14:52:00,55.55,NFO,30-MAY-2024,55.55,55.55,55.55,0,Options,Call,NESIND,2600.0,0
2024-04-10 15:19:00,55.55,NFO,30-MAY-2024,55.55,55.55,55.55,0,Options,Call,NESIND,2600.0,0
2024-04-10 15:21:00,55.55,NFO,30-MAY-2024,55.55,55.55,55.55,0,Options,Call,NESIND,2600.0,0

In [38]:
data = stock.join(stock_future,how='inner',rsuffix='_future').join(stock_option,how='inner',rsuffix='_option')

In [39]:
data.columns

Index(['Close', 'exchange_code', 'High', 'Low', 'Open', 'stock_code', 'Volume',
       'Close_future', 'exchange_code_future', 'expiry_date', 'High_future',
       'Low_future', 'Open_future', 'open_interest', 'product_type',
       'stock_code_future', 'Volume_future', 'Close_option',
       'exchange_code_option', 'expiry_date_option', 'High_option',
       'Low_option', 'Open_option', 'open_interest_option',
       'product_type_option', 'right', 'stock_code_option', 'strike_price',
       'Volume_option'],
      dtype='object')

In [40]:
data.drop(columns=['exchange_code','stock_code','exchange_code_future','product_type','stock_code_future','exchange_code_option','product_type_option', 'right','stock_code_option', 'strike_price'],inplace=True)

In [41]:
df = data[['Close','Close_future','Close_option']]

In [42]:
for x in df.columns:
    txt = x.split('_')
    try:
        df['log'+txt[1][0]] = df[x].pct_change()*100
    except:
        df['log'] = df[x].pct_change()*100

C:\Users\Ankit\AppData\Local\Temp\ipykernel_11804\3756061466.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['log'] = df[x].pct_change()*100
C:\Users\Ankit\AppData\Local\Temp\ipykernel_11804\3756061466.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['log'+txt[1][0]] = df[x].pct_change()*100
C:\Users\Ankit\AppData\Local\Temp\ipykernel_11804\3756061466.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['log'+txt[1][0]] = df[x].pct_change()*100

In [43]:
df

,Close,Close_future,Close_option,log,logf,logo
datetime,,,,,,
2024-04-10 14:19:00,2524.60,2553.00,55.55,NaN,NaN,NaN
2024-04-10 14:21:00,2523.40,2548.25,55.55,-0.047532,-0.186056,0.000000
2024-04-10 14:26:00,2525.95,2555.00,55.55,0.101054,0.264888,0.000000
2024-04-10 14:27:00,2529.95,2555.00,55.55,0.158356,0.000000,0.000000
2024-04-10 14:28:00,2527.60,2555.00,55.55,-0.092887,0.000000,0.000000
...,...,...,...,...,...,...
2024-05-02 15:25:00,2509.25,2533.75,27.90,-0.017930,-0.003947,-1.760563
2024-05-02 15:26:00,2510.20,2534.25,28.45,0.037860,0.019734,1.971326
2024-05-02 15:27:00,2508.80,2532.85,27.85,-0.055772,-0.055243,-2.108963
2024-05-02 15:28:00,2508.90,2533.00,28.45,0.003986,0.005922,2.154399
2024-05-02 15:29:00,2511.00,2531.65,28.10,0.083702,-0.053296,-1.230228