In [1]:
import pandas as pd
import backtesting as bt
import pandas_ta as ta
import numpy as np
import datetime as dt
from IPython.display import clear_output
import breeze_client as bc
import yfinance as yf
import time

In [8]:
df1 = pd.read_csv('data/NIFTY/NIFTY_options_23000_13-06-2024_1minute_10d.csv')
df1

,Close,datetime,exchange_code,expiry_date,High,Low,Open,open_interest,product_type,right,stock_code,strike_price,Volume
0,372.90,2024-05-30 09:15:00,NFO,13-JUN-2024,410.00,364.10,410.00,417975,Options,Call,NIFTY,23000.0,4975
1,368.00,2024-05-30 09:16:00,NFO,13-JUN-2024,372.00,366.00,370.00,417975,Options,Call,NIFTY,23000.0,1725
2,372.00,2024-05-30 09:17:00,NFO,13-JUN-2024,372.90,366.15,368.00,417975,Options,Call,NIFTY,23000.0,1725
3,378.70,2024-05-30 09:18:00,NFO,13-JUN-2024,378.70,370.00,372.00,420550,Options,Call,NIFTY,23000.0,2600
4,382.80,2024-05-30 09:19:00,NFO,13-JUN-2024,390.20,380.00,380.00,420550,Options,Call,NIFTY,23000.0,3650
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2620,402.35,2024-06-07 15:25:00,NFO,13-JUN-2024,405.15,402.30,403.30,3919850,Options,Call,NIFTY,23000.0,76225
2621,399.05,2024-06-07 15:26:00,NFO,13-JUN-2024,402.20,399.05,402.10,3919850,Options,Call,NIFTY,23000.0,93100
2622,404.25,2024-06-07 15:27:00,NFO,13-JUN-2024,404.60,397.50,399.05,3919850,Options,Call,NIFTY,23000.0,81025
2623,407.80,2024-06-07 15:28:00,NFO,13-JUN-2024,408.00,403.05,404.50,3775350,Options,Call,NIFTY,23000.0,60275
2624,407.40,2024-06-07 15:29:00,NFO,13-JUN-2024,410.00,406.25,407.25,3775350,Options,Call,NIFTY,23000.0,78975

In [9]:
df_nifty = pd.read_csv('data/NIFTY/NIFTY_1minute_10d.csv')
df2 = df_nifty[['Close','datetime','High','Low','Open','Volume']]
df2

         Close             datetime      High       Low      Open  Volume
0     22617.45  2024-05-30 09:09:00  22617.45  22617.45  22617.45       0
1     22617.45  2024-05-30 09:10:00  22617.45  22617.45  22617.45       0
2     22617.45  2024-05-30 09:11:00  22617.45  22617.45  22617.45       0
3     22617.45  2024-05-30 09:12:00  22617.45  22617.45  22617.45       0
4     22617.45  2024-05-30 09:13:00  22617.45  22617.45  22617.45       0
...        ...                  ...       ...       ...       ...     ...
2662  23282.75  2024-06-07 15:25:00  23288.90  23281.70  23287.40       0
2663  23279.40  2024-06-07 15:26:00  23282.80  23274.40  23282.20       0
2664  23284.90  2024-06-07 15:27:00  23284.90  23275.05  23279.40       0
2665  23271.55  2024-06-07 15:28:00  23283.55  23271.00  23282.80       0
2666  23270.05  2024-06-07 15:29:00  23275.70  23262.80  23273.65       0

[2667 rows x 6 columns]

In [ ]:
# Merge the DataFrames on column 'A' with an indicator
merged_df = pd.merge(df1, df2, on='datetime', how='outer', indicator=True)

# Filter rows where column 'A' is not common in both DataFrames
non_common_rows = merged_df[merged_df['_merge'] != 'both']

# Drop the indicator column and unnecessary columns from the merge
non_common_rows = non_common_rows.drop(columns=['_merge'])

non_common_rows

In [11]:
df = pd.merge(df1,df2,how='inner',on='datetime',suffixes=('','_nifty'))
df

,Close,datetime,exchange_code,expiry_date,High,Low,Open,open_interest,product_type,right,stock_code,strike_price,Volume,Close_nifty,High_nifty,Low_nifty,Open_nifty,Volume_nifty
0,372.90,2024-05-30 09:15:00,NFO,13-JUN-2024,410.00,364.10,410.00,417975,Options,Call,NIFTY,23000.0,4975,22653.90,22674.20,22635.20,22635.20,0
1,368.00,2024-05-30 09:16:00,NFO,13-JUN-2024,372.00,366.00,370.00,417975,Options,Call,NIFTY,23000.0,1725,22640.05,22651.80,22637.45,22651.30,0
2,372.00,2024-05-30 09:17:00,NFO,13-JUN-2024,372.90,366.15,368.00,417975,Options,Call,NIFTY,23000.0,1725,22647.45,22652.40,22635.50,22635.95,0
3,378.70,2024-05-30 09:18:00,NFO,13-JUN-2024,378.70,370.00,372.00,420550,Options,Call,NIFTY,23000.0,2600,22670.30,22670.30,22641.95,22645.15,0
4,382.80,2024-05-30 09:19:00,NFO,13-JUN-2024,390.20,380.00,380.00,420550,Options,Call,NIFTY,23000.0,3650,22684.00,22688.55,22667.75,22671.25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2620,402.35,2024-06-07 15:25:00,NFO,13-JUN-2024,405.15,402.30,403.30,3919850,Options,Call,NIFTY,23000.0,76225,23282.75,23288.90,23281.70,23287.40,0
2621,399.05,2024-06-07 15:26:00,NFO,13-JUN-2024,402.20,399.05,402.10,3919850,Options,Call,NIFTY,23000.0,93100,23279.40,23282.80,23274.40,23282.20,0
2622,404.25,2024-06-07 15:27:00,NFO,13-JUN-2024,404.60,397.50,399.05,3919850,Options,Call,NIFTY,23000.0,81025,23284.90,23284.90,23275.05,23279.40,0
2623,407.80,2024-06-07 15:28:00,NFO,13-JUN-2024,408.00,403.05,404.50,3775350,Options,Call,NIFTY,23000.0,60275,23271.55,23283.55,23271.00,23282.80,0
2624,407.40,2024-06-07 15:29:00,NFO,13-JUN-2024,410.00,406.25,407.25,3775350,Options,Call,NIFTY,23000.0,78975,23270.05,23275.70,23262.80,23273.65,0

In [13]:
def supertrend(data,length=10,multiplier=3):

        super = ta.supertrend(data.High_nifty.s,data.Low_nifty.s,data.Close_nifty.s,length,multiplier) 

        return super.to_numpy().T[0]



def atr(dfpl,length):

        atr = ta.atr(dfpl.High.s, dfpl.Low.s, dfpl.Close.s, length)

        return atr.to_numpy()

In [52]:



class SuperTrend(bt.Strategy):

    multiplier = 3
    period = 9
    atr_length = 7

    
    def init(self):
        self.super = self.I(supertrend,self.data,self.period,self.multiplier) 
        self.ATR = self.I(atr,self.data,self.atr_length)

    
    def next(self):
        slatr = 1.2*self.ATR[-1]
        TPSLRatio = 1.5

        current_price = self.data.Close[-1]


        n_current_price = self.data.Close_nifty[-1]
        last_price = self.data.Close_nifty[-2]
        current_trend = self.super[-1]
        last_trend = self.super[-2]
        
        #buy signal
        if (last_trend > last_price) and (current_trend < n_current_price):
            self.position.close()
            sl1 = self.data.Close[-1] - slatr
            tp1 = self.data.Close[-1] + slatr*TPSLRatio
            self.buy()
            
            
            
                

        if (last_trend < last_price) and (current_trend > n_current_price):
            self.position.close()
            
            sl1 = self.data.Close[-1] + slatr
            tp1 = self.data.Close[-1] - slatr*TPSLRatio
            self.sell()

In [53]:
eng = bt.Backtest(resampled_df,SuperTrend,cash=25000)

In [54]:
stats = eng.run()
stats

Start                     2024-06-07 09:15:00
End                       2024-06-07 15:29:30
Duration                      0 days 06:14:30
Exposure Time [%]                   21.066667
Equity Final [$]                 22124.211783
Equity Peak [$]                       26542.9
Return [%]                         -11.503153
Buy & Hold Return [%]              311.793612
Return (Ann.) [%]                         0.0
Volatility (Ann.) [%]                     NaN
Sharpe Ratio                              NaN
Sortino Ratio                             NaN
Calmar Ratio                              0.0
Max. Drawdown [%]                  -26.932189
Avg. Drawdown [%]                  -15.050695
Max. Drawdown Duration        0 days 05:36:00
Avg. Drawdown Duration        0 days 02:49:30
# Trades                                   22
Win Rate [%]                        40.909091
Best Trade [%]                       7.594311
Worst Trade [%]                     -6.345709
Avg. Trade [%]                      -0.554165
Max. Trade Duration           0 days 00:15:00
Avg. Trade Duration           0 days 00:03:06
Profit Factor                        0.848415
Expectancy [%]                      -0.419019
SQN                                 -0.511939
_strategy                          SuperTrend
_equity_curve                             ...
_trades                       Size  EntryB...
dtype: object

In [55]:
eng.plot()

BokehDeprecationWarning: Passing lists of formats for DatetimeTickFormatter scales was deprecated in Bokeh 3.0. Configure a single string format for each scale
C:\Users\Ankit\AppData\Roaming\Python\Python310\site-packages\backtesting\_plotting.py:250: UserWarning: DatetimeFormatter scales now only accept a single format. Using the first provided: '%d %b'
  formatter=DatetimeTickFormatter(days=['%d %b', '%a %d'],
BokehDeprecationWarning: Passing lists of formats for DatetimeTickFormatter scales was deprecated in Bokeh 3.0. Configure a single string format for each scale
C:\Users\Ankit\AppData\Roaming\Python\Python310\site-packages\backtesting\_plotting.py:250: UserWarning: DatetimeFormatter scales now only accept a single format. Using the first provided: '%m/%Y'
  formatter=DatetimeTickFormatter(days=['%d %b', '%a %d'],
C:\Users\Ankit\AppData\Roaming\Python\Python310\site-packages\backtesting\_plotting.py:659: UserWarning: found multiple competing values for 'toolbar.active_drag' property; using the latest value
  fig = gridplot(
C:\Users\Ankit\AppData\Roaming\Python\Python310\site-packages\backtesting\_plotting.py:659: UserWarning: found multiple competing values for 'toolbar.active_scroll' property; using the latest value
  fig = gridplot(

GridPlot(id='p2448', ...)

In [18]:
def optim_func(series):

    if series['Win Rate [%]'] > 65 and series['# Trades'] > 30:
        return series['Return [%]']
    
    


    else:
        return -1000000

opt_stats,heatmap = eng.optimize(
    multiplier = range(1,10),
    period = range(3,50),
    
    maximize = 'Win Rate [%]',
    
    return_heatmap = True,
    #max_tries = 1000

)
opt_stats

C:\Users\Ankit\AppData\Roaming\Python\Python310\site-packages\backtesting\backtesting.py:1488: UserWarning: Searching for best of 423 configurations.
  output = _optimize_grid()

Start                     2024-06-07 09:15:00
End                       2024-06-07 15:29:30
Duration                      0 days 06:14:30
Exposure Time [%]                        89.6
Equity Final [$]                      25639.2
Equity Peak [$]                       42085.3
Return [%]                             2.5568
Buy & Hold Return [%]              311.793612
Return (Ann.) [%]                         0.0
Volatility (Ann.) [%]                     NaN
Sharpe Ratio                              NaN
Sortino Ratio                             NaN
Calmar Ratio                              0.0
Max. Drawdown [%]                  -49.067727
Avg. Drawdown [%]                  -17.530593
Max. Drawdown Duration        0 days 03:37:00
Avg. Drawdown Duration        0 days 00:47:30
# Trades                                    4
Win Rate [%]                             50.0
Best Trade [%]                      75.035063
Worst Trade [%]                     -26.19469
Avg. Trade [%]                        0.63689
Max. Trade Duration           0 days 01:44:30
Avg. Trade Duration           0 days 01:23:53
Profit Factor                        1.579488
Expectancy [%]                       7.451501
SQN                                  0.031828
_strategy                 SuperTrend(multi...
_equity_curve                             ...
_trades                      Size  EntryBa...
dtype: object

In [20]:
eng.plot()

BokehDeprecationWarning: Passing lists of formats for DatetimeTickFormatter scales was deprecated in Bokeh 3.0. Configure a single string format for each scale
C:\Users\Ankit\AppData\Roaming\Python\Python310\site-packages\backtesting\_plotting.py:250: UserWarning: DatetimeFormatter scales now only accept a single format. Using the first provided: '%d %b'
  formatter=DatetimeTickFormatter(days=['%d %b', '%a %d'],
BokehDeprecationWarning: Passing lists of formats for DatetimeTickFormatter scales was deprecated in Bokeh 3.0. Configure a single string format for each scale
C:\Users\Ankit\AppData\Roaming\Python\Python310\site-packages\backtesting\_plotting.py:250: UserWarning: DatetimeFormatter scales now only accept a single format. Using the first provided: '%m/%Y'
  formatter=DatetimeTickFormatter(days=['%d %b', '%a %d'],
C:\Users\Ankit\AppData\Roaming\Python\Python310\site-packages\backtesting\_plotting.py:659: UserWarning: found multiple competing values for 'toolbar.active_drag' property; using the latest value
  fig = gridplot(
C:\Users\Ankit\AppData\Roaming\Python\Python310\site-packages\backtesting\_plotting.py:659: UserWarning: found multiple competing values for 'toolbar.active_scroll' property; using the latest value
  fig = gridplot(

GridPlot(id='p1713', ...)

In [19]:
opt_stats.plot()

TypeError: no numeric data to plot

In [29]:
stats._trades

,Size,EntryBar,ExitBar,EntryPrice,ExitPrice,PnL,ReturnPct,EntryTime,ExitTime,Duration
0,-1,20,22,22347.800781,22408.500000,-60.699219,-0.002716,2024-04-25 10:55:00+05:30,2024-04-25 11:05:00+05:30,0 days 00:10:00
1,1,46,53,22460.849609,22479.750000,18.900391,0.000841,2024-04-25 13:05:00+05:30,2024-04-25 13:40:00+05:30,0 days 00:35:00
2,-1,91,114,22518.099609,22499.050781,19.048828,0.000846,2024-04-26 10:35:00+05:30,2024-04-26 12:30:00+05:30,0 days 01:55:00
3,1,151,152,22490.849609,22511.050781,20.201172,0.000898,2024-04-29 09:20:00+05:30,2024-04-29 09:25:00+05:30,0 days 00:05:00
4,-1,292,292,22720.800781,22702.650391,18.150391,0.000799,2024-04-30 14:50:00+05:30,2024-04-30 14:50:00+05:30,0 days 00:00:00
5,1,306,311,22655.800781,22677.400391,21.599609,0.000953,2024-05-02 09:45:00+05:30,2024-05-02 10:10:00+05:30,0 days 00:25:00
6,-1,361,375,22647.500000,22769.099609,-121.599609,-0.005369,2024-05-02 14:20:00+05:30,2024-05-03 09:15:00+05:30,0 days 18:55:00
7,1,376,377,22769.599609,22789.750000,20.150391,0.000885,2024-05-03 09:20:00+05:30,2024-05-03 09:25:00+05:30,0 days 00:05:00
8,-1,387,388,22682.599609,22661.400391,21.199219,0.000935,2024-05-03 10:15:00+05:30,2024-05-03 10:20:00+05:30,0 days 00:05:00
9,1,445,447,22474.900391,22495.599609,20.699219,0.000921,2024-05-03 15:05:00+05:30,2024-05-03 15:15:00+05:30,0 days 00:10:00
10,-1,457,460,22460.800781,22441.400391,19.400391,0.000864,2024-05-06 09:50:00+05:30,2024-05-06 10:05:00+05:30,0 days 00:15:00
11,1,528,532,22490.449219,22430.650391,-59.798828,-0.002659,2024-05-07 09:30:00+05:30,2024-05-07 09:50:00+05:30,0 days 00:20:00
12,-1,535,539,22380.199219,22361.550781,18.648438,0.000833,2024-05-07 10:05:00+05:30,2024-05-07 10:25:00+05:30,0 days 00:20:00
13,1,579,587,22324.949219,22264.449219,-60.500000,-0.002710,2024-05-07 13:45:00+05:30,2024-05-07 14:25:00+05:30,0 days 00:40:00
14,-1,601,610,22223.650391,22284.449219,-60.798828,-0.002736,2024-05-08 09:20:00+05:30,2024-05-08 10:05:00+05:30,0 days 00:45:00
15,1,625,630,22287.800781,22306.599609,18.798828,0.000843,2024-05-08 11:20:00+05:30,2024-05-08 11:45:00+05:30,0 days 00:25:00
16,-1,655,655,22279.650391,22259.949219,19.701172,0.000884,2024-05-08 13:50:00+05:30,2024-05-08 13:50:00+05:30,0 days 00:00:00
17,1,753,755,22049.099609,22070.000000,20.900391,0.000948,2024-05-10 09:30:00+05:30,2024-05-10 09:40:00+05:30,0 days 00:10:00
18,-1,770,775,22020.199219,22080.000000,-59.800781,-0.002716,2024-05-10 10:55:00+05:30,2024-05-10 11:20:00+05:30,0 days 00:25:00
19,1,807,825,22059.699219,21999.949219,-59.750000,-0.002709,2024-05-10 14:00:00+05:30,2024-05-13 09:15:00+05:30,2 days 19:15:00
20,-1,826,826,21968.800781,21950.199219,18.601562,0.000847,2024-05-13 09:20:00+05:30,2024-05-13 09:20:00+05:30,0 days 00:00:00
21,1,850,852,21941.099609,21960.550781,19.451172,0.000887,2024-05-13 11:20:00+05:30,2024-05-13 11:30:00+05:30,0 days 00:10:00
22,-1,875,876,21967.699219,21946.349609,21.349609,0.000972,2024-05-13 13:25:00+05:30,2024-05-13 13:30:00+05:30,0 days 00:05:00
23,1,881,881,22082.949219,22102.849609,19.900391,0.000901,2024-05-13 13:55:00+05:30,2024-05-13 13:55:00+05:30,0 days 00:00:00
24,-1,970,975,22203.550781,22264.000000,-60.449219,-0.002723,2024-05-14 15:05:00+05:30,2024-05-15 09:15:00+05:30,0 days 18:10:00
25,1,978,981,22276.449219,22295.900391,19.451172,0.000873,2024-05-15 09:30:00+05:30,2024-05-15 09:45:00+05:30,0 days 00:15:00
26,-1,985,985,22214.000000,22194.849609,19.150391,0.000862,2024-05-15 10:05:00+05:30,2024-05-15 10:05:00+05:30,0 days 00:00:00
27,1,997,1001,22240.800781,22181.599609,-59.201172,-0.002662,2024-05-15 11:05:00+05:30,2024-05-15 11:25:00+05:30,0 days 00:20:00
28,-1,1060,1063,22221.550781,22202.449219,19.101562,0.000860,2024-05-16 10:05:00+05:30,2024-05-16 10:20:00+05:30,0 days 00:15:00
29,1,1085,1085,22230.000000,22249.250000,19.250000,0.000866,2024-05-16 12:10:00+05:30,2024-05-16 12:10:00+05:30,0 days 00:00:00
30,-1,1090,1094,22163.449219,22143.349609,20.099609,0.000907,2024-05-16 12:35:00+05:30,2024-05-16 12:55:00+05:30,0 days 00:20:00
31,1,1114,1114,22171.099609,22192.250000,21.150391,0.000954,2024-05-16 14:35:00+05:30,2024-05-16 14:35:00+05:30,0 days 00:00:00
32,-1,1260,1268,22535.650391,22515.500000,20.150391,0.000894,2024-05-21 14:15:00+05:30,2024-05-21 14:55:00+05:30,0 days 00:40:00
33,1,1279,1280,22567.550781,22508.949219,-58.601562,-0.002597,2024-05-22 09:35:00+05:30,2024-05-22 09:40:00+05:30,0 days 00:05:00
34,-1,1492,1494,22966.949219,22946.050781,20.898438,0.000910,2024-05-24 14:50:00+05:30,2024-05-24 15:00:00+05:30,0 days 00:10:00
35,1,1530,1531,23020.150391,23038.800781,18.650391,0.000810,2024-05-27 11:45:00+05:30,2024-05-27 11:50:00+05:30,0 days 00:05:00
36,-1,1562,1564,23051.400391,23031.699219,19.701172,0.000855,2024-05-27 14:25:00+05:30,2024-05-27 14:35:00+05:30,0 days 00:10:00
37,1,1624,1639,22959.699219,22899.000000,-60.699219,-0.002644,2024-05-28 13:20:00+05:30,2024-05-28 14:35:00+05:30,0 days 01:15:00
38,-1,1640,1648,22898.199219,22878.599609,19.599609,0.000856,2024-05-28 14:40:00+05:30,2024-05-28 15:20:00+05:30,0 days 00:40:00
39,1,1693,1694,22796.349609,22737.099609,-59.250000,-0.002599,2024-05-29 12:50:00+05:30,2024-05-29 12:55:00+05:30,0 days 00:05:00
40,-1,1716,1720,22718.500000,22699.050781,19.449219,0.000856,2024-05-29 14:45:00+05:30,2024-05-29 15:05:00+05:30,0 days 00:20:00
41,1,1799,1799,22519.050781,22538.300781,19.250000,0.000855,2024-05-30 15:25:00+05:30,2024-05-30 15:25:00+05:30,0 days 00:00:00
42,-1,1809,1811,22543.400391,22522.900391,20.500000,0.000909,2024-05-31 10:10:00+05:30,2024-05-31 10:20:00+05:30,0 days 00:10:00
43,1,1852,1852,22570.400391,22593.849609,23.449219,0.001039,2024-05-31 13:45:00+05:30,2024-05-31 13:45:00+05:30,0 days 00:00:00
44,-1,1859,1860,22543.150391,22524.349609,18.800781,0.000834,2024-05-31 14:20:00+05:30,2024-05-31 14:25:00+05:30,0 days 00:05:00
45,1,1874,1874,23145.599609,23087.199219,-58.400391,-0.002523,2024-06-03 09:20:00+05:30,2024-06-03 09:20:00+05:30,0 days 00:00:00
46,-1,1949,1949,22850.400391,22831.349609,19.050781,0.000834,2024-06-04 09:20:00+05:30,2024-06-04 09:20:00+05:30,0 days 00:00:00
47,1,1991,1991,21903.199219,21847.599609,-55.599609,-0.002538,2024-06-04 12:50:00+05:30,2024-06-04 12:50:00+05:30,0 days 00:00:00
48,-1,2018,2018,21756.599609,21818.250000,-61.650391,-0.002834,2024-06-04 15:05:00+05:30,2024-06-04 15:05:00+05:30,0 days 00:00:00
49,1,2044,2044,22217.500000,22237.500000,20.000000,0.000900,2024-06-05 11:00:00+05:30,2024-06-05 11:00:00+05:30,0 days 00:00:00
50,-1,2129,2129,22688.349609,22748.449219,-60.099609,-0.002649,2024-06-06 11:50:00+05:30,2024-06-06 11:50:00+05:30,0 days 00:00:00
51,1,2152,2152,22843.250000,22781.849609,-61.400391,-0.002688,2024-06-06 13:45:00+05:30,2024-06-06 13:45:00+05:30,0 days 00:00:00